{% extends 'base.html' %}

{% block titulo %}Fluxo de Caixa{% endblock titulo %}

{% block conteudo %}
<script type="text/javascript">
  $(function() {
    $('#datetimepicker1').datetimepicker({
      language: 'pt-BR'
    });
  });
</script>
<style type="text/css">
    @media print
    {
        nav, footer, form, .btn{display: none;} 
    }   
</style>

<form class="form-horizontal" action="/caixas/fluxo/pesquisar/" method="POST" role="form">{% csrf_token %}

    <div class="form-group">
        <label for="pessoa_id" class="col-sm-2 control-label">Pessoa</label>
        <div class="col-sm-10">
            <select class="form-control" name="pessoa_id" id="pessoa_id" >
            <option value="0">TODOS</option>
            {% for pessoa in pessoas %}
                <option value="{{ pessoa.id }}">{{ pessoa.nome }} - {{ pessoa.email }}</option>
            {% endfor %} 
            </select>
        </div>
    </div>
    <br>

    <div class="col-sm-5">
        <div id="datetimepicker" class="input-append date" class="form-control">
            <input type="text" name="data" value placeholder="Data Inicial" value="{{ conta.data }}" >
            <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
        </div>
    </div>

    <div class="col-sm-5">
        <div id="datetimepicker2" class="input-append date" class="form-control">
            <input type="text" name="data2" value placeholder="Data Final" value="{{ conta.data }}" >
            <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
        </div>
    </div>

    <div align="center">
        <button type="submit" class="btn btn-primary">Pesquisar <span class="glyphicon glyphicon-search"></span></button>
    </div>
</form>
<br><br>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Pessoa</th>
            <th>R$</th>
            <th>Descrição</th>
            <th>Data</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody>
        {% for conta in contas %}
          <tr>
            <td>{{ conta.pessoa.nome }}</td>
            <td>{{ conta.valor }}</td>
            <td>{{ conta.descricao }}</td>
            <td>{{ conta.data|date:"d/m/Y" }}</td>
            <td>{{ conta.tipo }}</td>
          </tr>
        {% endfor %}  
        <tr>
            <td colspan="3"></td>
            <td><b>Total a Pagar: </b>{{ totalPagar}}</td>
            <td><b>Total a Receber: </b>{{ totalReceber}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <br>
<!--{{data}}<br>
{{data2}}-->
    <div align="center">
        <button onclick="window.print();" class="btn btn-primary">Imprimir <span class="glyphicon glyphicon-print"></span></button>
    </div>


{% endblock conteudo %}